# Generated Mindmaps
*.mindmap.mmd

# System Files
.DS_Store
.vscode
.idea

# Node
node_modules/

# Local Config
settings.json

# Personal / Demo input files (optional to ignore)
resume.md
golden_record.md
# Keep demo.md though!
